<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ras.mapper.RaidMapper">
    <select id="selectRaidList" resultType="com.ras.dao.RaidDao">
        select
            id
             , name
             , img
             , round_yn
             , auto_yn
             , auto_action_yn
             , auto_time_yn
             , auto_time
             , friend_first_yn
             , base_stat_id
             , sort_method
             , raid_cd
             , raid_round
             , raid_turn
             , participant_friend_all_yn
             , participant_friend
             , participant_enemy_all_yn
             , participant_enemy
             , raid_main_type
             , raid_main_img
             , raid_main_txt
        from raid
    </select>
</mapper>