<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ras.mapper.StatMapper">
    <select id="selectStatList" resultType="com.ras.dao.StatDao" parameterType="com.ras.dao.StatDao">
        select a.* /* StatMapper.selectStatList :: 스탯 리스트 조회 */
            , (select b.NAME from stat b where a.BASE_STAT_ID = b.ID) as base_stat_name
        from stat a
        <where>
            <if test="statType != null">
                stat_type = #{statType}
            </if>
            <if test="name != null">
                and a.name like ('%'||#{name}||'%')
            </if>
        </where>
    </select>

    <select id="selectStat" resultType="com.ras.dao.StatDao" parameterType="com.ras.dao.StatDao">
        select * /* StatMapper.selectStat :: 스탯 상세 조회 */
        from stat
        <where>
            id = #{id}
        </where>
    </select>

    <insert id="insertStat" parameterType="com.ras.dao.StatDao">
        insert into stat /* StatMapper.insertStat :: 스탯 등록 */
        (
            id
            , name
            , txt
            , show_yn
            , stat_type
            , min_num
            , max_num
            , default_num
            , unit
            , calc_type
            , base_stat_id
            , calc_txt
        )
        values (
            #{id}
            , #{name}
            , #{txt}
            , #{showYn}
            , #{statType}
            , #{minNum}
            , #{maxNum}
            , #{defaultNum}
            , #{unit}
            , #{calcType}
            , #{baseStatId}
            , #{calcTxt}
        )
    </insert>

    <update id="updateStat" parameterType="com.ras.dao.StatDao">
        update stat
        set
            name = #{name}
          , txt = #{txt}
          , show_yn = #{showYn}
          , stat_type = #{statType}
          , min_num = #{minNum}
          , max_num = #{maxNum}
          , default_num = #{defaultNum}
          , unit = #{unit}
          , calc_type = #{calcType}
          , base_stat_id = #{baseStatId}
          , calc_txt = #{calcTxt}
        where id = #{id}
    </update>
</mapper>